---
import Layout from '@/layout/Layout.astro';
import {
    ADDRESS,
    APP_NAME,
    CONTACT_EMAIL,
    CONTACT_PHONE,
} from '@/config/contact.ts';
import Metadata from '@/components/Metadata.astro';
---

<Layout>
    <Metadata
        slot="head"
        title="Mentions légales"
        description="Mentions légales"
    />
    <article>
        <div class="flex max-w-95 flex-col gap-100">
            <div class="flex flex-col">
                <p><strong>Développement et intégration</strong></p>
                <p>Remi Taniel</p>
            </div>
            <div class="flex flex-col">
                <p><strong>Hébergement</strong></p>
                <p>
                    OVH SAS<br />2 rue Kellermann<br />59100 Roubaix<br />+33
                    (0)4 44 44 60 40<br /><a
                        href="https://www.ovhcloud.com/fr/"
                        target="_blank">www.ovhcloud.com</a
                    >
                </p>
            </div>
        </div>
        <section class="flex flex-1 flex-col">
            <h1>Mentions légales</h1>
            <h2>Législation</h2>
            <p>
                Droit d’auteur et propriété intellectuelle Selon la loi du 11
                mars 1957 (art.41) et du code de la propriété intellectuelle du
                1er juillet 1992, le site internet {Astro.site} (textes, éléments
                graphiques, photographies, etc.) constitue une œuvre protégée en France
                par le Code de la Propriété intellectuelle, et à l’étranger par les
                conventions internationales en vigueur sur le droit d’auteur.
            </p>
            <h2>Données à caractère personnel</h2>
            <p>
                En application de la loi n°78-17 du 6 janvier 1978 relative à
                l’informatique, aux fichiers et aux libertés, l’internaute
                dispose du droit d’opposition (art. 26 de la loi), d’accès (art.
                34 à 38 de la loi) et de rectification. Pour exercer ce droit
                vous pouvez vous adresser à :
            </p>
            <p>
                <strong>{APP_NAME}</strong><br />
                {
                    ADDRESS.map((line) => (
                        <>
                            {line}
                            <br />
                        </>
                    ))
                }
                <a>{CONTACT_PHONE}</a><br />
                Ou par email: <a href={`mailto:${CONTACT_EMAIL}`}
                    >{CONTACT_EMAIL}</a
                >
            </p>
            <h2>Informations</h2>
            <p>
                La présence des liens hypertextes vers d’autres sites internet
                n’engage pas la responsabilité du site {Astro.site}. Ces liens
                ne sont là qu’à titre indicatif.
            </p>
        </section>
    </article>
</Layout>

<style>
    article {
        display: flex;
        align-items: flex-start;
        gap: var(--spacing-200);
        margin: 0 auto;
        max-width: 1280px;
        width: 100%;
        padding: var(--spacing-500) var(--spacing-150);
    }
</style>
